
<div class="container">
<h1>Fill the form to create a new restaurant!</h1>

<p><%= simple_form_for @restaurant do |f| %></p>
<p><%= f.input :name %></p>
<p><%= f.input :address %></p>
<p><%= f.input :phone_number %></p>
<p><%= f.input :category , collection: ["chinese", "italian", "japanese", "french", "belgian"]%></p>
<p><%= f.button :submit %></p>
<% end %>
</div>
